<header>
  <span class="logo">
    LOGO GOES HERE
  </span>
  <nav class="horizontal">
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </nav>
</header>
<hr>
