<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Website Name</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/scripts/app.js"></script>
</head>
<body>
  <%- include header %>
  <%- body %>
  <%- include footer %>
</body>
</html>
