<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Website Name</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
  <%- include header %>
  <%- body %>
  <%- include footer %>
  <script src="/scripts/app.js"></script>
</body>
</html>
